<%# app/views/user/new.html.erb %>


<br><br><br>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.9); height: 400px; border-radius:25px; box-shadow: 0 4px 8px 0 rgb(102, 102, 153), 0 6px 20px 0 rgb(102, 102, 153); ">
     <h2>Create a Login:</h2>
      <%= form_for :user, url: '/users' do |f| %>
      <div class="form-group">
        Username: <%= f.text_field :user_name, :class => "form-control" %>
        Email: <%= f.text_field :email, :class => "form-control" %>
        Password: <%= f.password_field :password, :class => "form-control" %>
        Password Confirmation: <%= f.password_field :password_confirmation, :class => "form-control" %>
        <div style="text-align: center">
        <br>
        <%= f.submit "Submit", :class => "btn btn-success" %>
        </div>
        </div>
      <% end %>
    </div>
    <div classs="col-md-3">
    </div>
  </div>
  <br>
<% if @errors %>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.9); height: 150px; border-radius:25px; box-shadow: 0 4px 8px 0 rgb(102, 102, 153), 0 6px 20px 0 rgb(102, 102, 153); ">
         <br>
           <% @errors.each do |error|%>
            <p style="color: #ff66cc; font-weight: bold"><%= error %></p>
          <%end%>
        
    </div>
    <div classs="col-md-3">
    </div>
  </div>
  <%end%>



