<%# app/views/user/new.html.erb %>
<br>
<div class="row">
<div class="col-md-4">
</div>
  <div class="col-md-4">
  <h2>Create a Login:</h2>
      <%= form_for :user, url: '/users' do |f| %>
      <div class="form-group">
        Username: <%= f.text_field :user_name, :class => "form-control" %>
        Email: <%= f.text_field :email, :class => "form-control" %>
        Password: <%= f.password_field :password, :class => "form-control" %>
        Password Confirmation: <%= f.password_field :password_confirmation, :class => "form-control" %>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>

<div class="row">
<div class="col-md-4">
</div>
  <div class="col-md-4">
 <% if @errors %>
    <% @errors.each do |error|%>
        <p><%= error %></p>
    <%end%>
<%end%>
  </div>
</div>
