<%= render 'profile_header' %>


<div class="container">
  <% if @current_user.mixtapes.count > 0  %>
  <div class="row">
    <% @current_user.mixtapes.each do |mixtape|%>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card" style="width: 18rem;">
         <a href="<%= mixtape_path(mixtape.id)%>"> <img class="card-img-top" src="<%= image_path(mixtape.cassette_url) %>" style = "position: relative; height:100%;" alt="Cassette"><a>
          <div class="card-body">
          
            <h3 class="card-title" style="text-align:center;"><%= mixtape.title %></h3>
            <h5 class="card-text"><%= mixtape.message %></h5>
            
          </div>
      </div>
  </div>
    <% end %>
    <% else %>
    <div class="row">
    <div class= "col-md-2">
    </div>
      <div class="col-md-8 add-song-card" style="height: 300px; background-color: white">
      <br>
      <h2> Create a New Mixtape </h2><br>
      <a href="<%= new_mixtape_path %>"> <i class="fas fa-plus" style="font-size:100px; color:gray;"></i></a>
      </div>
    </div>
    <% end %>
  </div>