
<%# buffer %>
<div style="height:40px">
</div>

<div class="row"  style="background: #0099ff">
<div class="col-md-2">
</div>
<div class="col-md-2">
<a href="<%= profile_badges_path %>"><img style="height:150px" src="<%= image_path @current_user.current_badge%>"></a>
</div>
<h2 style="font-size: 80px; font-family: 'Montserrat Subrayada', sans-serif;"><%= @current_user.user_name %><h2>

</div>

<%# buffer %>
<div style="height:40px">
</div>


<div class="container">
  <div class="row">
    <% @current_user.mixtapes.each do |mixtape|%>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card" style="width: 18rem;">
         <a href="<%= mixtape_path(mixtape.id)%>"> <img class="card-img-top" src="<%= image_path(mixtape.cassette_url) %>" style = "position: relative; height:100%;" alt="Cassette"><a>
          <div class="card-body">
          
            <h3 class="card-title" style="text-align:center;"><%= mixtape.title %></h3>
            <h5 class="card-text"><%= mixtape.message %></h5>
            
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>