<br>
<div class="row">
<div class="col-md-2">
</div>
<div class = "col-4-md" style="width:400; height:350; position: relative; left: 0; top: ;">
        <img src="<%= image_path @mixtape.background_url %>" alt="bkground" id="background">
        <div class = "cassette" style="position: absolute; top:10%; height:171px; width:100% ">
            <img src="<%= image_path @mixtape.cassette_url %>" style="position: absolute; top:10%; width:100%; height \: " alt="bkground" id="cassette">
            <div id="handwriting" style="position: absolute; left: 28%; top:29%; height:20px; ">
                <h2 style= "font-family: 'Permanent Marker', cursive; text-align: center" id="message-text"><%= @mixtape.title %></h2>
            </div>
        </div>
</div>
<div class="col-md-5" style="background-color: rgba(204, 255, 204, .9); border-radius:10px; box-shadow:10px">
<br><h1 class="marker" style="text-align: center">Edit/Add Songs Mixtape: </h1>
<%= render 'form'%>
<div style="text-align: center">
<%= button_to "Delete Mixtape", @mixtape, :method => "delete", :class => "btn btn-danger" %>
</div>
</div>
</div>
<div style="height:20px">
</div>

<% @mixtape.songs.each do |song| %>
<div class="row" style="height:200px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 transparent-card" style="background-color: rgba(204, 204, 255, .9); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="row" >
        <div class="col-md-3">
            <p><img class="album-art" src="<%= song.artist_url%>" style="height:180px; width:180px;padding-top:7px">
        </div>
        <div class="col-md-7" style="padding: 20px; padding-left: 35px">

            <span style="font-size:30px"><%= song.name %></span> <br>
            <%= song.album %><br>
            <%= song.artist_name %>
        </div>
    </div>
    </div>
</div>

<div style="height:20px">
</div>
<% end %>


<div class="row">
<div class="col-md-2">
</div>
<% if @mixtape.songs.count < 12 %>
<div class="col-md-8 add-song-card" style="height: 200px;">
<br><br>
<a href="<%= search_path %>"> <i class="fas fa-plus" style="font-size:100px; color:gray;" id="add-plus"></i></a>

</div>
<% end %>

</div>
