<br>
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
</div>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class = "col-4-md" style="width:400; height:350; position: relative; left: 0; top: ; background-color:#cccccc;">
        <img src="<%= image_path('backgrounds/background_1.png') %>" alt="bkground" id="background">
        <div class = "cassette" style="position: absolute; top:10%; height:171px; width:100% ">
            <img src="<%= image_path('cassettes/eighties.png') %>" style="position: absolute; top:10%; width:100%; height \: " alt="bkground" id="cassette">
            <div id="handwriting" style="position: absolute; left: 28%; top:29%; height:20px; ">
                <h2 style= "font-family: 'Permanent Marker', cursive; text-align: center" id="message-text"></h2>
            </div>
        </div>
        </div>
<div class="col-md-5" style="background-color: rgba(204, 255, 204, .9); border-radius:10px; box-shadow:10px">
<br>
<div>

    <h1 class="marker">Create A New Mixtape </h1>
    <div class="pattern-picker" style="">
        <div class="pattern" id="bac-1" style="display:inline-block">
            <img style="height:50px" src="<%= image_path "backgrounds/background_1.png"%>" name="backgrounds/background_1.png" onclick="updateBackground(this)">
        </div>
        <div class="pattern" id="bac-2" style="display:inline-block">
            <img style="height:50px" src="<%= image_path "backgrounds/background_2.png"%>" name="backgrounds/background_2.png" onclick="updateBackground(this)">
        </div>
        <div class="pattern" id="bac-3" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "backgrounds/background_3.png"%>" name="backgrounds/background_3.png" onclick="updateBackground(this)">
        </div>
        <div class="pattern" id="bac-4" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "backgrounds/background_4.png"%>" name="backgrounds/background_4.png" onclick="updateBackground(this)">
        </div>
        <div class="pattern" id="bac-5" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "backgrounds/background_5.png"%>" name="backgrounds/background_5.png" onclick="updateBackground(this)">
        </div>
        <div class="pattern" id="bac-6" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "backgrounds/background_6.png"%>" name="backgrounds/background_6.png" onclick="updateBackground(this)">
        </div>
        <div class="pattern" id="bac-7" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "backgrounds/background_7.png"%>" name="backgrounds/background_7.png" onclick="updateBackground(this)">
       </div>
        <div class="pattern" id="bac-8" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "backgrounds/background_8.png"%>" name="backgrounds/background_8.png" onclick="updateBackground(this)">
        </div>
    </div>
</div>
<div>
    <div class="cassette-picker">
        <div class="cassette-pick" id="cas-1" style="display:inline-block">
            <img style="height:50px" src="<%= image_path "cassettes/eighties.png"%>" name="cassettes/eighties.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-2" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/classic_blue.png"%>" name="cassettes/classic_blue.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-3" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/classic_green.png"%>" name="cassettes/classic_green.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-4" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/classic_orange.png"%>" name="cassettes/classic_orange.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-5" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/cotton_candy.png"%>" name="cassettes/cotton_candy.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-6" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/barney.png"%>" name="cassettes/barney.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-7" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/label_maker.png"%>" name="cassettes/label_maker.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-8" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/retro_white.png"%>" name="cassettes/retro_white.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-9" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/star.png"%>" name="cassettes/star.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick"id="cas-10"  style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/switch.png"%>" name="cassettes/switch.png" onclick="updateCassette(this)">
        </div>
        <div class="cassette-pick" id="cas-11" style="display:inline-block">
        <img style="height:50px" src="<%= image_path "cassettes/valentine.png"%>" name="cassettes/valentine.png" onclick="updateCassette(this)">
        </div>
    </div>
</div>

    <%= render 'form'%>
</div>
</div>
<div class="row">
</div>