<br>
<div class="row">
<div class="col-md-2">
</div>
    <div class = "col-4-md" style="width:400; height:350; position: relative; left: 0; top: ;">
            <img src="<%= image_path @mixtape.background_url %>" alt="bkground" id="background">
            <div class = "cassette" style="position: absolute; top:10%; height:171px; width:100% ">
                <img src="<%= image_path @mixtape.cassette_url %>" style="position: absolute; top:10%; width:100%; height \: " alt="bkground" id="cassette">
                <div id="handwriting" style="position: absolute; left: 28%; top:29%; height:20px; ">
                    <h2 style= "font-family: 'Permanent Marker', cursive; text-align: center" id="message-text"><%= @mixtape.title %></h2>
                </div>
            </div>
    </div>
<div class="col-md-5" style="background-color: rgba(204, 204, 255, .9); border-radius:10px; box-shadow:10px; padding-left: 30px">
<br>
<h4>Created by: <span class="marker"><%= link_to @mixtape.user.user_name, user_path(@mixtape.user.id) %></span></h4>
<h2 >Title: <span class="marker"><%= @mixtape.title %></span><h2>


<% liked = false %>
<% @current_user.likes.each do |like| %>
    <% if like.mixtape_id == @mixtape.id %>
        <% liked = true %>
    <% end%>
<% end %>
<% if liked == true || @current_user.id == @mixtape.user_id %>
        <i class="fas fa-heart" style="font-size:50px; position: absolute; top: 20px; right:24px;"></i>
<% else %>
    <%= button_to like_path, :style => "position: absolute; top: 20px; right:20px; background-color: Transparent; border: none; cursor:pointer;" do %>
            <i class="far fa-heart" style="font-size:50px"></i>
    <% end %>
<% end %>

<h3>Message: <span class="marker"><%= @mixtape.message %></span></h3>
<% if @mixtape.user.id == session[:user_id]%>
    <div style="position:absolute; bottom:5%; right:10%">
        <%= button_to edit_mixtape_path(@mixtape),:method => 'get', :style => "background-color: Transparent; border: none; cursor:pointer;" do %>
            <p style="font-size:30px; font-family: 'Permanent Marker', cursive; text-align: center"> Edit</p>
        <% end %>
        <% if @current_user.id == @mixtape.user_id%>
            <%= button_to preview_send_mixtape_path(@mixtape),:method => 'get', :style => "background-color: Transparent; border: none; cursor:pointer;" do %>
                <p style="font-size:30px; font-family: 'Permanent Marker', cursive; text-align: center"> Send!</p>
            <% end %>
        <% end %>
    </div>
<% end%>
</div>
</div>



<div style="height:20px">
</div>

<% @mixtape.songs.each do |song| %>
<div class="row" style="height:200px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 transparent-card" style="background-color: rgba(204, 255, 204, .9); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            <div class="col-md-3">
            <p><img src="<%= song.artist_url%>" style="height:180px; width:180px;padding-top:7px">
            </div>
             <div class="col-md-4" style="padding: 20px; padding-left: 35px">

            <span style="font-size:30px"><%= song.name %></span> <br>
            <%= song.album %><br>
            <%= song.artist_name %>
        </div>
        </div>
    </div>
    </div>
</div>

<div style="height:20px">
</div>
<% end %>