
<div style="height: 100px">
</div>
<div class="row" style="text-align: center">
<div class="col-md-2">
</div>
<div class="col-md-4">
</div>
</div>


    

<div class="row" style="text-align: center">
<div class="col-md-4">
</div>
<div class="col-md-4 transparent-card" style="height:400px">
<br><br><br><br><h2>Search for Artist<br><br>
<%= form_tag found_path, method: "get", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-success" %>
<% end %>
</div>
</div>


<div class="songs-container">
<% if @artists %>
<% @artists.each do |artist| %>
    <%= artist.name %>
    <%= artist.id %>
    <%= artist.type %>
    <%= artist.uri %>
<% end %>
<% end %>
</div>