

<br><br><br>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.9); height: 400px; border-radius:25px; box-shadow: 0 4px 8px 0 rgb(102, 102, 153), 0 6px 20px 0 rgb(102, 102, 153); ">

  <h2 style="text-align: center">Log In:<h2>
      <div class="form-group" style="margin-left:80px; margin-right:80px">
        <%= form_tag '/logged' do %>
            <br>
          Username: <%= text_field_tag :user_name, "", :class => "form-control" %>
          <br>
          Password: <%= password_field_tag :password, "",:class => "form-control" %>
        <div style="text-align:center;">
        <%= submit_tag "Enter", :class => "btn btn-success"%>
        </div>
        <% end %>

          <% if @error %>
          <h1><%= @error %></h1>
          <% end %>
      </div>

    </div>
    <div class="col-md-3">
    </div>

  </div>


