
<% if !session[:user_id]%>
<h2>Please log in or create a new account.<h2>
<% end %>
<h2>Log In:<h2>
<%# needs to be a form tag... not a form_for %>



<%= form_tag '/logged' do %>
  Username: <%= text_field_tag :user_name %>
  Password: <%= password_field_tag :password %>
<%= submit_tag "Submit"%>
<% end %>

<% if @error %>
<h1><%= @error %></h1>
<% end %>