<!DOCTYPE html>
<html>
  <head>
    <title>TheMixtapeProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Gochi+Hand|Permanent+Marker&display=swap" %>
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap"%>
    <%= stylesheet_link_tag href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" %>
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" %>
  </head>

  <body>

<% if session[:user_id] %>
  <% if @new_badges %>
  <% if @new_badges.length > 0 %>
    <div class="transparent-card custom-modal" id="badge-modal">
      <% if !(@new_badges.count > 1)%>
      <h2>You've earned a new badge!</h2>
      <% elsif @new_badges.count > 1 %>
      <h2>You've earned new badges!</h2>
      <% end %>
    <% @new_badges.each do |nb|%>
      <img src="<%=image_path "#{nb.badge.image_url}"%>" style="height:180px; width:180px">
      <h3> <%= nb.badge.title %> </h3>
      <h5> <%= nb.badge.description %> </h5>
      <br>
    <% end %>
      <button class="btn btn-success" onclick="closeModal()">Close</button><br><a href="<%= profile_badges_path %>"><button class="btn btn-info" style="margin-top:10px; margin-bottom: 10px">See your badges</button></a>
    </div>
  <% end%>
  <% end %>
<% end %>


  <div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% if session[:user_id] %>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">The Mixtape</a>
      <form class="form-inline">
        <a href="<%= root_path %>" ><img style="height:50px" src="<%= image_path "buttons/home.png"%>"></a> 
        <a href="<%= mixtapes_path %>"><img style="height:50px" src="<%= image_path "buttons/cassette.png"%>"></a>
         <a href="<%= new_mixtape_path %>"><img style="height:50px" src="<%= image_path "buttons/plus.png"%>"></a>
        <a href="<%= profile_path %>"><img style="height:50px" src="<%= image_path "buttons/user.png"%>"></a>
        
      </form>
  </nav>
  <% end %>
  </div>
</div>
    <%= yield %>
  </body>
</html>
