<!DOCTYPE html>
<html>
  <head>
    <title>TheMixtapeProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Gochi+Hand|Permanent+Marker&display=swap" %>
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap"%>
    <%= stylesheet_link_tag href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" %>
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" %>
  </head>

  <body>
  <div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% if session[:user_id] %>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">The Mixtape</a>
      <form class="form-inline">
        <a href="<%= root_path %>"><img style="height:50px" src="<%= image_path "buttons/home.png"%>"></a> <a href="<%= mixtapes_path %>"><img style="height:50px" src="<%= image_path "buttons/cassette.png"%>"></a>
         <a href="<%= new_mixtape_path %>"><img style="height:50px" src="<%= image_path "buttons/plus.png"%>"></a>
        <a href="<%= profile_path %>"><img style="height:50px" src="<%= image_path "buttons/user.png"%>"></a>
        
      </form>
  </nav>
  <% end %>
  </div>
</div>
    <%= yield %>
  </body>
</html>
